data: [

[{type: "spline",
name: "Water Usage",
showInLegend: true,
dataPoints: [
{ label: "7723" , y: 93.0 },
{ label: "7722" , y: 183.0 },
{ label: "7721" , y: 71.0 },
{ label: "7720" , y: 106.0 },
{ label: "7719" , y: 389.0 },
{ label: "7718" , y: 466.0 },
{ label: "7717" , y: 412.0 },
{ label: "7716" , y: 409.0 },
{ label: "7715" , y: 93.0 },
{ label: "7714" , y: 339.0 }
]},
{type: "spline",
name: "Power Usage",
showInLegend: true,
dataPoints: [
{ label: "7723" , y: 405.0 },
{ label: "7722" , y: 214.0 },
{ label: "7721" , y: 246.0 },
{ label: "7720" , y: 266.0 },
{ label: "7719" , y: 152.0 },
{ label: "7718" , y: 395.0 },
{ label: "7717" , y: 409.0 },
{ label: "7716" , y: 413.0 },
{ label: "7715" , y: 100.0 },
{ label: "7714" , y: 159.0 }
]}
]

]